<div class="fixed-top text-center">
	<div id="messageBox" class="alert alert-{{messageType}} d-inline-block">
		<div class="d-inline-block align-top">
			{{{message}}}
		</div>
		<div class="d-inline-block align-top">
			<a id="messageBoxCloseLink" href="#" class="ml-3"><i class="fa fa-times"></i></a>
		</div>
	</div>
</div>