
html, body {
	margin: 0;
	padding: 0;
	border: 0;
  }
  
#worldPlaceholder{
	margin:20px;
	position: relative;
  }
  
#kDroidGrid {
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
  }
  
#kDroidGrid td {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
  }
  
#kDroid {
	display: block;
	position: absolute;
	will-change:transform;
	box-sizing: border-box;
  }
  
#kDroid svg {
	width: 100%;
	height: 100%;
	}

.tile {
	border-radius: 100%;
	font-family: sans-serif;
	position: absolute;
	text-align:center;
	will-change: transform;
}

#messageBox {
	margin: auto;
	border-radius: 10px;
	text-align: center;
	color: #ffffff;
	font-family: sans-serif;
	will-change: transform;
}