
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

.kDroidTable {
	border: 2px solid #4d4d4d;
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
	margin: 10px;
}

.kDroidTable td {
	border: 1px solid #dadada;
	box-sizing: border-box;
}

.form-control-text {
	display: block;
	width: 100%;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	margin-bottom: 0;
	line-height: 1.5;
}

.home-link {
	position: absolute;
	top: 0;
	right: 0;
}

.bg-very-dark {
	background-color: #282c31;
}